* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*max-width: 1200px;
    align-content: center;*/
}

.banner{
    background: url("/assets/DSC_0226.JPG");
    width: 100%;
    background-size: cover;
}

.top-bar {
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
}

.logo {
    display: flex;
    flex: 1;
    width: auto;
    height: 60px;
    padding: 20px;
    align-self: center;
}

.menu {
    flex: 1;
}

.menu ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
    flex-flow: row wrap;
}

.menu ul li {
    flex: 1;
    text-align: center;
}

.menu ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

/*banner*/

.banner-text {
    display: flex;
    padding: 15% 0;
}

.banner-text-items {
    color: #fff;
    margin: auto;
    text-align: center;
    width: 50%;
}

.banner-text-items h2 {
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-text-items p {
    font-size: 22px;
}

/*main*/

.main-content {
    display: flex;
    flex-flow: row wrap;
    padding: 0%;   
}

.main1 {
    flex: 1;
    padding: 3%;
    text-align: center;
    background-color:lightcoral;
}

.main2 {
    flex: 1;
    padding: 3%;
    text-align: center;
    background-color: lightslategrey;
}

.main3 {
    flex: 1;
    padding: 3%;
    text-align: center;
    background-color:lightskyblue;
}

/*contact*/

.contact-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    background-color: coral;
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.contact:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.contact-items h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 18px;
}

.contact-items input[type="text"] {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 5px;
    height: 150px;
    padding: 15px;
    width: 60%;
}

.contact-items a {
    background-color: darkgrey;
    color: black;
    display: block;
    font-size: 18px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
}

/*resizing per media*/
@media all and (max-width:500px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        padding: 18px 0 0;
    }
    
    .menu ul {
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .menu ul li {
        padding: 5px;
    }

    .banner-text-items {
        width: 100%;
    }

    .banner-text-items h2 {
        font-size: 1.5em;
    }

    .main-content {
        flex-direction: column;
    }
}

@media all and (max-width:800px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        padding: 18px 0 0;
    }
    
    .menu ul {
        flex-direction: row;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .menu ul li {
        padding: 5px;
    }

    .banner-text-items {
        width: 100%;
    }

    .banner-text-items h2 {
        font-size: 2.5em;
    }

    .main-content {
        flex-direction: column;
    }
}